@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #0a0a0f; /* Deep Space Black */
  color: #e2e8f0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}